---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Studies from "../components/Studies.astro";
import Conferences from "../components/Conferences.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <div class="flex items-center justify-center mt-24">
    <a
      href="#about"
      class="bg-primary text-light-text py-1 px-8 rounded-full font-bold flex flex-col items-center justify-center"
    >
      Conóceme
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        class="h-5 w-5"
        ><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path
          d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
        ></path></svg
      >
    </a>
  </div>
  <About />
  <Experience />
  <Projects />
  <Studies />
  <Conferences />
  <Contact />
  <Footer />
</Layout>
