<section
  id="conferences"
  class="w-11/12 max-w-2xl m-auto flex flex-col items-center justify-center mt-24 pt-10"
>
  <h2 class="relative text-white text-4xl font-bold mb-20">
    Mis conferencias
    <span
      class="section-title text-primary text-4xl font-bold absolute -bottom-5 -right-4"
    >
      conferencias
    </span>
  </h2>

  <!-- Conference 1 -->
  <div class="flex items-start gap-8 justify-center mb-12">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[200px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">1.</span>
        <h3 class="text-white text-2xl font-bold">C1b3rWall 2024</h3>
        <p class="text-white text-md opacity-50">20/06/2024</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          El día 20 de Junio de 2024, tuve la oportunidad de dar una ponencia en
          C1b3rWall, en la Escuela Nacional de Policía de España. Estuve
          compartiendo conocimientos de ciberseguridad con dispositivos como el
          Flipper Zero.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">Ávila, España</p>
      </div>
    </div>
  </div>

  <!-- Conference 2 -->
  <div class="flex items-start gap-8 justify-center mb-12">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[200px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">2.</span>
        <h3 class="text-white text-2xl font-bold">Security High School 2k24</h3>
        <p class="text-white text-md opacity-50">19/02/2024</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          En febrero de 2024, tuve la oportunidad en las IX Jornadas de Security
          High School de dar un Taller sobre Fake News y Suplantación de
          Identidad además de una ponencia frente a 700 personas sobre el
          Flipper Zero y sus posibilidades.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">Córdoba, España</p>
      </div>
    </div>
  </div>

  <!-- Conference 3 -->
  <div class="flex items-start gap-8 justify-center mb-12">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[150px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">3.</span>
        <h3 class="text-white text-2xl font-bold">CiberSotero</h3>
        <p class="text-white text-md opacity-50">19/01/2024</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          El 19 de Enero de 2024, tuve la oportunidad de dar un taller en las
          jornadas de CiberSotero sobre ciberseguridad, noticias falsas y
          suplantación de identidad.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">Sevilla, España</p>
      </div>
    </div>
  </div>

  <!-- Conference 4 -->
  <div class="flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[150px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">4.</span>
        <h3 class="text-white text-2xl font-bold">CascamorrasCON</h3>
        <p class="text-white text-md opacity-50">20/10/2023</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          El día 20 de Octubre de 2023, tuve la oportunidad de dar una ponencia
          en las jornadas de CascamorrasCON sobre aplicaciones de rastreo móvil
          y seguridad móvil.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">Baza, España</p>
      </div>
    </div>
  </div>
</section>

<style>
  span.section-title {
    font-family: "Redacted Script", cursive;
  }
</style>
