<section
  id="experience"
  class="max-w-2xl m-auto flex flex-col items-center justify-center mt-24 pt-10"
>
  <h2 class="relative text-white text-4xl font-bold mb-20">
    Mi experiencia
    <span
      class="section-title text-primary text-4xl font-bold absolute -bottom-5 -right-4"
    >
      experiencia
    </span>
  </h2>

  <!-- Experience 1 -->
  <div class="flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[150px] bg-primary my-5"></div>
    </div>
    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">1.</span>
        <h3 class="text-white text-2xl font-bold">AllPentesting</h3>
        <p class="text-white text-md opacity-50">12/2024 - Hoy</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          Empecé las prácticas en formato DUAL de CFGS de DAW en la misma
          empresa, dedicándome a proyectos más grandes e importantes de
          desarrollo web como el panel de BalizasDigitales o un proyecto de
          Ciberinteligencia.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Rol</h4>
        <p class="text-white text-md">Desarrollador Web (Prácticas)</p>
      </div>
    </div>
  </div>

  <!-- Experience 2 -->
  <div class="mt-8 flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[150px] bg-primary my-5"></div>
    </div>
    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">2.</span>
        <h3 class="text-white text-2xl font-bold">Universidad de Zilina</h3>
        <p class="text-white text-md opacity-50">3/2025 - 5/2025</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          Durante las prácticas DUAL, participé en un proyecto ERASMUS+ en
          Eslovaquia desarrollando páginas internas de la Universidad de Zilina.
          También recopilando y gestionando información sobre laboratorios de la
          universidad.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Rol</h4>
        <p class="text-white text-md">Desarrollador Web (Prácticas)</p>
      </div>
    </div>
  </div>

  <!-- Experience 3 -->
  <div class="mt-8 flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[170px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">3.</span>
        <h3 class="text-white text-2xl font-bold">AllPentesting</h3>
        <p class="text-white text-md opacity-50">06/2023 - 12/2024</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          Después de terminar la FCT de SMR, continué trabajando como Analista
          de Inteligencia y Desarrollador Web, haciendo diferentes web con
          WordPress para distintas como empresas
          <a
            href="https://consultechdigital.com/"
            target="_blank"
            class="text-primary">Consultech Digital</a
          >
          o
          <a
            href="https://construccionesrafaelbonilla.com/"
            target="_blank"
            class="text-primary">Construcciones Bonilla</a
          >.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Rol</h4>
        <p class="text-white text-md">
          Analista de Inteligencia & Desarrollador Web
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  span.section-title {
    font-family: "Redacted Script", cursive;
  }
</style>
