<footer
  class="flex flex-col items-center justify-center mt-24 mb-10 text-white font-bold"
>
  <p class="text-center">
    Diseñado & Desarrollado con ❤️️ por <a
      href="https://alvaroso.dev/"
      class="text-primary underline">Alvaroso</a
    >
    <span class="text-primary opacity-50"> v1.0.1 </span>
  </p>

  <div class="mt-4 text-sm opacity-70">
    <a href="/privacy-policy" class="hover:underline mr-4"
      >Política de Privacidad</a
    >
    <a href="/terms" class="hover:underline">Términos y Condiciones</a>
  </div>
</footer>
