<footer
  class="flex items-center justify-center mt-24 mb-10 text-white font-bold"
>
  <p class="text-center">
    Diseñado & Desarrollado con ❤️️ por <a
      href="https://alvaroso.dev/"
      class="text-primary underline">Alvaroso</a
    >
    <span class="text-primary opacity-50"> v1.0.0 </span>
  </p>
</footer>
