<nav class="h-9 py-8 flex justify-center items-center" id="home">
  <a href="#home" class="p-4 text-primary">Inicio</a>
  <a href="#about" class="p-4 text-primary">Sobre mí</a>
  <a href="#projects" class="p-4 text-primary">Proyectos</a>
  <a href="#conferences" class="p-4 text-primary">Conferencias</a>
  <a href="#contact" class="p-4 text-primary">Contacto</a>
</nav>
