<section
  id="studies"
  class="max-w-2xl m-auto flex flex-col items-center justify-center mt-24 pt-10"
>
  <h2 class="relative text-white text-4xl font-bold mb-20">
    Mis estudios
    <span
      class="section-title text-primary text-4xl font-bold absolute -bottom-5 -right-4"
    >
      estudios
    </span>
  </h2>

  <!-- Studies 1 -->
  <div class="flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[200px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">1.</span>
        <h3 class="text-white text-2xl font-bold">CF Grado Superior - DAW</h3>
        <p class="text-white text-md opacity-50">09/2023 - Hoy</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          Una vez realizado el Grado Medio, decidí seguir cursando un Grado
          Superior de Desarrollo de Aplicaciones Web, adentrándome aún más en
          este mundo y donde me encuentro actualmente.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">I.E.S. Fidiana - Córdoba (España)</p>
      </div>
    </div>
  </div>

  <!-- Studies 2 -->
  <div class="flex items-start gap-8 justify-center">
    <div class="flex flex-col items-center justify-center">
      <div
        class="w-[35px] h-[35px] bg-transparent border-2 border-solid border-primary rounded-full"
      >
      </div>
      <div class="w-[1px] h-[200px] bg-primary my-5"></div>
    </div>

    <div class="flex flex-col items-start justify-center">
      <div class="flex justify-center items-center gap-2">
        <span class="text-2xl text-black font-bold bg-primary">2.</span>
        <h3 class="text-white text-2xl font-bold">CF Grado Medio - SMR</h3>
        <p class="text-white text-md opacity-50">09/2021 - 06/2023</p>
      </div>

      <div class="flex flex-col items-start justify-center">
        <h4 class="text-primary text-lg font-bold mt-4">Descripción</h4>
        <p class="text-white text-md">
          Después de hacer la FPB de Informática seguí con el Grado Medio
          ampliando mis conocimientos en esta área y descubriendo más acerca del
          desarrollo web y ciberseguridad.
        </p>
        <h4 class="text-primary text-lg font-bold mt-4">Lugar</h4>
        <p class="text-white text-md">I.E.S. Fidiana - Córdoba (España)</p>
      </div>
    </div>
  </div>
</section>

<style>
  span.section-title {
    font-family: "Redacted Script", cursive;
  }
</style>
